<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
        <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
  </configSections>
  <appSettings>
    <add key="DOM" value="3"></add>
    <add key="NMC" value="10"></add>
    <add key="PER" value="15"></add>
    <add key="C" value="5"></add>
    <add key="D" value="5"></add>
    <add key="L" value="3"></add>
    <add key="LIM" value="4"></add>
    <add key="DELTA" value="7"></add>
    <add key="DOM" value="3"></add>
    <add key="PERSIMP" value="15"></add>
    <add key="NCZ" value="5"></add>
  </appSettings>
  <connectionStrings>
    <add name="LibraryContext" connectionString="data source=WIN-7LT0I1AJHCA\SQLEXPRESS; User Id=sa; Password=1q2w3e; initial catalog=LibraryDB; integrated security=True; MultipleActiveResultSets=True; App=EntityFramework" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <entityFramework>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
    </providers>
  </entityFramework>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/></startup></configuration>
